:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark--cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparen-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
  --very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons */
  --ff-primary: "Big Shoulders Display", cursive;
  --ff-secondary: "Lexend Deca", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

html {
  font-size: 0.9375rem;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.container {
  height: 100%;
  width: 70%;
}

.columns {
  display: flex;
}
