:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark--cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparen-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
  --very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons */
  --ff-primary: "Big Shoulders Display", cursive;
  --ff-secondary: "Lexend Deca", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

html {
  font-size: 0.9375rem;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: var(--very-light-gray);
}

.container {
  height: 100%;
  max-width: 48%;
  font-family: var(--ff-primary);
  color: var(--transparen-white);
}

h2 {
  font-family: var(--ff-secondary);
  color: white;
  font-size: 2rem;
  margin-block: 1em;
  text-transform: uppercase;
}

p {
  font-size: 1.1rem;
  letter-spacing: 1px;
  line-height: 1.7;
  font-weight: 400;
  margin-bottom: 6rem;
}

@media (max-width: 756px) {
  p {
    margin-bottom: 3.5rem;
  }

  .container {
    max-width: 100%;
  }
}

.button {
  margin-bottom: 2rem;
  background-color: var(--transparen-white);
  font-size: 1.1rem;
  padding: 1em 2em;
  border-radius: 3em;
  text-decoration: none;
  border: 3px solid var(--transparen-white);
}

.button-orange {
  color: var(--bright-orange);
}

.button-orange:hover {
  background-color: var(--bright-orange);
  color: var(--transparen-white);
}

.button-green {
  color: var(--dark--cyan);
}

.button-green:hover {
  background-color: var(--dark--cyan);
  color: var(--transparen-white);
}

.button-darkgreen {
  color: var(--very-dark-cyan);
}

.button-darkgreen:hover {
  background-color: var(--very-dark--cyan);
  color: var(--transparen-white);
}

.columns {
  display: flex;
}

.column {
  padding: 4rem 0.5rem;
  width: 100%;
  min-width: 225px;
  display: flex;
  flex-direction: column;
}

.column-content {
  max-width: 70%;
  margin: auto;
}

.column:first-of-type {
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
}

.column:last-of-type {
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}

@media (max-width: 1000px) {
  .columns {
    flex-direction: column;
  }

  .column:first-of-type {
    border-top-left-radius: 2%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 2%;
  }

  .column:last-of-type {
    border-bottom-right-radius: 2%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 2%;
  }
}

.column-orange-bg {
  background-color: var(--bright-orange);
}

.column-green-bg {
  background-color: var(--dark--cyan);
}

.column-darkgreen-bg {
  background-color: var(--very-dark-cyan);
}
